@media screen and (min-width: 769px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
  }
  .footer__copyright {
    color: #fff;
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 321px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1rem;
  }
  .footer__copyright {
    color: #fff;
    text-align: right;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
  }
  .footer__copyright {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0.875rem;
  }
}
